body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

/******** HEADER ********/
header {
    background: #111;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart {
    cursor: pointer;
    font-size: 18px;
}

/******** PRODUITS ********/
#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 25px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin: 5px 0;
}

.card button {
    background: #FF6B00;
    border: none;
    color: white;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover {
    background: #d65b00;
}

#cart {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#cart:hover {
    text-decoration: underline;
}

.product-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cart-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}